:root {
    --code-bg-color: #E8E6E5; /* var(--code-bg-color) */
}

body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;
    background-color: #ffbda326;
    color: #002037;
    line-height: 1.5em;
}

.body-link {
    text-decoration: underline;
    color: #002037
}

/* Благодаря свойству box-sizing: border-box; границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. Это упрощает работу с размерами, позволяет указывать их более логично.
Значения границы и внутренних отступов не увеличивают элемент, а «съедают» место у контента, то есть свойства не будут влиять и высоту и ширину. Если установлено фиксированное значение, то оно таким и останется, но для контента внутри останется меньше места */
* {
    box-sizing: border-box;
}

/* Контейнер - элемент с классом container, который ограничивает ширину контента и центрирует его на странице по горизонтали. */
.container {
    max-width: 66%;
    margin: 0 auto;
}

/* Чтобы разместить все элементы навигации в строку, элементу .nav-list указываем свойство display: flex;, сдвинуть их вправо позволит свойство justify-content: flex-end; выровнять по центру по высоте свойство align-items: center; */
.nav-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    list-style: none;
    background-color: #ffe1d6;
    padding-inline-start: 0px;
    border-radius: 20px 0px 20px 0px;
}
.nav-link {
    padding: 0 10px;
    line-height: 50px;
    color: #724102;
    text-decoration: none;
    transition: all 500ms;
}
.nav-link:hover {
    color: #006081;
}
/* Чтобы прокрутка происходила плавно*/
html {
    scroll-behavior: smooth;
}

.page-title {
	font-size: 3em;
	color: #006081;
}

.section {
    margin-top: 50px;
}

.section-title {
    color: #d18201;
}

.section-list {
    list-style-type: '▢   ';
    line-height: 2em;
}

.img-avatar {
    float: right;
    width: 30%;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 0px 30px 30px 30px;
    transition: all 250ms;
}

.img-avatar:hover {
    transform: translate(10px, 10px);
}

.about-text {
    display: flex;
    flex-wrap: wrap;
    width: fit-content; /* check FIT-CONTENT */
    color: #006081;
    background-color:#fae8d7;
    padding: 30px;
    border-radius: 0px 30px 30px 30px;
}

.table {
    width: 100%;
}

/* .table-row {
    line-height: 30px;
} */

.table-data {
    padding: 10px;
    /* background-color: #d18201; */
}

.code {
    display: flex;
    flex-wrap: wrap;
    width: fit-content; /* check FIT-CONTENT */
    color: #006081;
    font-size: large;
    background-color: var(--code-bg-color);
    padding-right: 50px;
    border-radius: 0px 30px 30px 30px;
    transition: all 250ms;
    /* position: relative; bottom: 50px; left: 60px;  RELATIVE POSITION */
}

.code:hover {
    transform: translate(10px, 10px);
}

.footer-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.footer-item {
    margin: 0 20px;
    /* background-color: #006081; */
}