body {
    font-family: 'Work Sans', sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* Благодаря свойству box-sizing: border-box; границы и внутренние отступы будут учитываться в значениях, которые вы указываете в ширине и высоте элемента. Это упрощает работу с размерами, позволяет указывать их более логично */
* {
    box-sizing: border-box;
}

/* Контейнер - элемент с классом container, который ограничивает ширину контента и центрирует его на странице по горизонтали. */
.container {
    max-width: 75%;
    margin: 0 auto;
}